{% set key = key|default(0) %}
{% set class = class|default('w-full') %}
{% set item = item|default(null) %}

{% if item %}
  <div class="people-item cursor-pointer rounded-lg p-6 border border-transparent flex align-items-center {{ class }}" @click="showModal({{ key }})">
    <img src="{{ item.imageUrl }}" class="rounded-full h-32 w-32 mr-10" />
    <div class="text-white self-center">
      <p class="text-lg">{{ item.title }}</p>
      <span class="">{{ item.jobtitle }}</span>
    </div>
  </div>
{% endif %}